.rle-container {
    height: 100%;
}

.logo {
    height: 100%;
}

.option-types-list {
    overflow-y: auto;
    height: 75%;
}

.addon-logo {
    height: 25%;
    width: 33%;
}

.streaming-option-link {
    height: 25%;
}