<form>
    <app-streaming-service name="stream1" value="all4" label="All 4"></app-streaming-service>
    <app-streaming-service name="stream2" value="prime" label="Amazon Prime Video"></app-streaming-service>
    <app-streaming-service name="stream3" value="apple" label="Apple TV+"></app-streaming-service>
    <app-streaming-service name="stream4" value="iplayer" label="BBC iPlayer"></app-streaming-service>
    <app-streaming-service name="stream5" value="britbox" label="BritBox"></app-streaming-service>
    <app-streaming-service name="stream6" value="crave" label="Crave"></app-streaming-service>
    <app-streaming-service name="stream7" value="curiosity" label="Curiosity Stream"></app-streaming-service>
    <app-streaming-service name="stream8" value="disney" label="Disney+"></app-streaming-service>
    <app-streaming-service name="stream9" value="hbo" label="HBO Max"></app-streaming-service>
    <app-streaming-service name="stream10" value="hotstar" label="Hotstar"></app-streaming-service>
    <app-streaming-service name="stream11" value="hulu" label="Hulu"></app-streaming-service>
    <app-streaming-service name="stream12" value="mubi" label="Mubi"></app-streaming-service>
    <app-streaming-service name="stream13" value="netflix" label="Netflix"></app-streaming-service>
    <app-streaming-service name="stream14" value="now" label="Now"></app-streaming-service>
    <app-streaming-service name="stream15" value="peacock" label="Peacock"></app-streaming-service>
    <app-streaming-service name="stream16" value="paramount" label="Paramount+"></app-streaming-service>
    <app-streaming-service name="stream17" value="showtime" label="Showtime"></app-streaming-service>
    <app-streaming-service name="stream18" value="stan" label="Stan"></app-streaming-service>
    <app-streaming-service name="stream19" value="starz" label="Starz"></app-streaming-service>
    <app-streaming-service name="stream20" value="wow" label="Wow"></app-streaming-service>
    <app-streaming-service name="stream21" value="zee5" label="Zee5"></app-streaming-service>
</form>