:host {
    display: block;
    height: 95%;
    overflow-y: auto;
}

app-show-list-element {
    display: inline-block;
    width: 25%;
    max-width: 350px;
    height: 40%;
    margin-bottom: 10px;
}

app-show-list-element:nth-child(3n + 1), app-show-list-element:nth-child(3n + 2) {
    margin-right: 20px;
}

.show-list-container {
    height: 100%;
    overflow-y: auto;
}