:host {
    display: flex;
    flex-direction: column;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: larger;
}

app-show-list-element {
    /*display: inline-block;*/
    height: 100%;
    cursor: pointer;
}

/* mobile */
@media screen and (max-width: 640px) {
    :host {
        height: 85%;
    }

    p {
        height: 10%;
    }

    .show-list-container-desktop {
        display: none;
    }

    .show-list-container-mobile {
        display: block;
        height: 100%;
    }

    .carousel {
        height: 90%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .carousel-inner {
        height: 100%;
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 641px) {
    :host {
        height: 95%;
    }

    app-show-list-element {
        display: inline-block;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .show-list-container-desktop {
        display: grid;
        grid-auto-rows: 500px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .show-list-container-mobile {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .show-list-container-desktop {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 2000px) {
    .show-list-container-desktop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.show-list-container-desktop {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}