.ss-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ss-outer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ss-left {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.ss-right {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.ss-stream-list {
    height: 100%;
}

.ss-main {
    height: 90%;
}

.ss-input-bar {
    height: 10%;
}

app-stream-list {
    display: inline-block;
    background-color: #DBCDF0;
    width: 100%;
    height: 100%;
    padding: 10px;
}

app-main-view {
    display: inline-block;
    background-color: #FAEDCB;
    width: 100%;
    height: 100%;
    padding: 25px;
}

app-input-bar {
    display: inline-block;
    background-color: #C9E4DE;
    padding: 10px;
    width: 100%;
    height: 100%;
}

app-show-list {
    height: 100%;
    overflow-y: auto;
}