:host {
    display: block;
    height: 100%;
    width: 100%;
}

/* desktop */
@media screen and (min-width: 1000px) {
    app-stream-list {
        display: inline-block;
        width: 180px;
    }

    app-input-bar {
        height: 5%;
    }
    
    .outer-container {
        flex-direction: row;
        height: 100%;
    }

    .inner-container {
        width: 100%;
    }
}

/* mobile */
@media screen and (max-width: 999px) {
    app-stream-list {
        width: 100%;
        height: 25%;
        display: none;
        position: absolute;
    }

    app-input-bar {
        height: 15%;
    }

    .outer-container {
        flex-direction: column;
        height: 100%;
    }

    .inner-container {
        width: 100%;
    }

    span {
        position: fixed;
        top: 90%;
        margin: 0 auto;
        border-style: solid;
        border-color: #000000;
        border-width: 1px;
        border-radius: 100%;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    
    .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    }
    
    .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    }
}

.outer-container {
    display: flex;
}

.inner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-stream-list {
    background-color: black;
    color: #FFFFFF;
    /*width: 100%;*/
    height: 100%;
    /*padding: 10px;*/
    border: 1px solid black;
}

app-input-bar {
    display: block;
    background-color: #4988B3;
    padding: 10px;
    width: 100%;
    /*height: 5%;*/
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 50%;
}