:host {
    display: block;
    height: 95%;
    overflow-y: auto;
}

.rl-container {
    height: 100%;
    overflow-y: auto;
}

app-results-list-element {
    display: inline-block;
    height: 30%;
    width: 25%;
}

img {
    width: 100%;
    height: 50%;
}