:host {
    display: flex;
    flex-direction: column;
}

p {
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: larger;
}

.results-list-container {
    padding: 20px;
    overflow-y: auto;
    display: grid;
}

@media screen and (max-width: 640px) {
    :host {
        height: 85%;
    }

    .results-list-container {
        grid-auto-rows: 150px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1em;
    }

    img {
        width: 100%;
    }
}

@media screen and (min-width: 641px) {
    :host {
        height: 95%;
    }

    .results-list-container {
        grid-auto-rows: max(200px, 60%);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    img {
        width: fit-content;
    }
}

@media screen and (min-width: 1200px) {
    .results-list-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 2000px) {
    .results-list-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

app-results-list-element {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.results-list-poster-container {
    height: 50%;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

img {
    height: 100%;
}