.sle-container {
    height: 100%;
    border-radius: 10px;
}

img {
    height: 40%;
}

.sle-main {
    height: 50%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    overflow-y: auto;
}

.sle-title {
    height: 25%;
}

.sle-description {
    height: 30%;
}