<div class="card sle-container">
    <img [src]="show.imageSet.horizontalPoster.w1440 ?? show.imageSet.verticalPoster.w1440" class="card-img-top">
    <div class="card-body sle-main">
        <h3 class="card-title sle-title">{{ show.title }}{{ show.releaseYear ? ' (' + show.releaseYear + ')' : '' }}{{ show.firstAirYear ? ' (' + show.firstAirYear + (show.lastAirYear !== show.firstAirYear ? '-' + show.lastAirYear : '') + ')' : ''}}</h3>
        <div class="sle-description">
            <p class="card-text">{{show.overview}}</p>
        </div>
        <div class="sle-button">
            <button (click)="onClick.emit(show.id)">Click Me!</button>
        </div>
    </div>
</div>
