.sle-container {
    height: 100%;
}

img {
    height: 40%;
}

.sle-main {
    height: 60%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 640px) {
    .sle-container,
    img,
    .sle-main {
        border-radius: 0;
    }

    .sle-main {
        overflow-y: auto;
    }
}

@media screen and (min-width: 641px) {
    .sle-container {
        border-radius: 10px;
    }

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .sle-main {
        overflow-y: hidden;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 0;
    }

    .sle-main-scroll {
        overflow-y: auto;
        padding-top: 1rem;
    }
}

.sle-title {
    /*height: 25%;*/
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
}

.sle-date {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: larger;
}

ul {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #dee2e6;
    margin-top: 0.5rem;
}

.sle-show-type {
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
}

h5 {
    margin-bottom: 0;
}

.sle-description {
    height: 30%;
}