<form [formGroup]="showForm" (ngSubmit)="onSubmit()">
    <select #countrySelect name="country" id="country" formControlName="country" (change)="this.displayListService.updateDisplay(countrySelect.value)">
        <option value=""></option>
        <app-countries-list-element
            *ngFor="let country of countriesService.getCountries()"
            [code]="country.countryCode"
            [name]="country.name"
        ></app-countries-list-element>
        <!--<option value="us">United States</option>
        <option value="ar">Argentina</option>
        <option value="au">Australia</option>
        <option value="at">Austria</option>
        <option value="az">Azerbaijan</option>
        <option value="be">Belgium</option>
        <option value="br">Brazil</option>
        <option value="bg">Bulgaria</option>
        <option value="ca">Canada</option>
        <option value="cl">Chile</option>
        <option value="co">Colombia</option>
        <option value="hr">Croatia</option>
        <option value="cy">Cyprus</option>
        <option value="cz">Czech Republic</option>
        <option value="dk">Denmark</option>
        <option value="ec">Ecuador</option>
        <option value="ee">Estonia</option>
        <option value="fi">Finland</option>
        <option value="fr">France</option>
        <option value="de">Germany</option>
        <option value="gr">Greece</option>
        <option value="hk">Hong Kong</option>
        <option value="hu">Hungary</option>
        <option value="is">Iceland</option>
        <option value="in">India</option>
        <option value="id">Indonesia</option>
        <option value="ie">Ireland</option>
        <option value="il">Israel</option>
        <option value="it">Italy</option>
        <option value="jp">Japan</option>
        <option value="lt">Lithuania</option>
        <option value="my">Malaysia</option>
        <option value="mx">Mexico</option>
        <option value="md">Moldova</option>
        <option value="nl">Netherlands</option>
        <option value="nz">New Zealand</option>
        <option value="mk">North Macedonia</option>
        <option value="no">Norway</option>
        <option value="pa">Panama</option>
        <option value="pe">Peru</option>
        <option value="ph">Philippines</option>
        <option value="pl">Poland</option>
        <option value="pt">Portugal</option>
        <option value="ro">Romania</option>
        <option value="ru">Russia</option>
        <option value="rs">Serbia</option>
        <option value="sg">Singapore</option>
        <option value="za">South Africa</option>
        <option value="kr">South Korea</option>
        <option value="es">Spain</option>
        <option value="se">Sweden</option>
        <option value="ch">Switzerland</option>
        <option value="th">Thailand</option>
        <option value="tr">Turkey</option>
        <option value="ua">Ukraine</option>
        <option value="ae">United Emirates</option>
        <option value="gb">United Kingdom</option>
        <option value="vn">Vietnam</option>-->
    </select>
    <input type="text" id="show-title" name="show-title" formControlName="title">
    <input type="submit" value="Search">
</form>