<ng-container *ngIf="displayListService.streamingServiceDisplay !== null">
    <form class="full-height" [formGroup]="displayListService.streamingServiceControls">
        <div class="stream-list-element sle-stacked-buttons">
            <input type="button" value="Select All" (click)="displayListService.selectAll()">
            <input type="button" value="Deselect All" (click)="displayListService.deselectAll()">
        </div>
        <div class="stream-list-element sle-unstacked-button">
            <input type="button" value="Select All" (click)="displayListService.selectAll()">
        </div>
        <div class="stream-list-element sle-unstacked-button">
            <input type="button" value="Deselect All" (click)="displayListService.deselectAll()">
        </div>
        <div class="stream-list-element" *ngFor="let streamingService of displayListService.streamingServiceDisplay">
            <input type="checkbox" [id]="streamingService.id" [name]="streamingService.name" formControlName="{{ streamingService.id }}" class="visually-hidden">
            <label [for]="streamingService.id">
                <img class="light-image" [src]="streamingService.imageSet.lightThemeImage">
                <img class="dark-image" [src]="streamingService.imageSet.darkThemeImage">
            </label>
        </div>
    </form>
</ng-container>
<ng-container *ngIf="displayListService.streamingServiceDisplay === null">
    <p>
        An error occurred while retrieving streaming options
    </p>
</ng-container>