<p *ngIf="mainViewControllerService.displayMode === DisplayModesEnum.Welcome">
    Welcome!
</p>
<div class="show-list" *ngIf="mainViewControllerService.displayMode === DisplayModesEnum.ShowsList">
    <ng-container *ngIf="showListService.shows.length > 0">
        <app-show-list-element
            *ngFor="let show of showListService.shows"
            [show]="show"
            (onSelect)="setShow($event)"
        >
        </app-show-list-element>
    </ng-container>
    <ng-container *ngIf="showListService.shows.length == 0">
        <p>
            No shows found. Try searching for a different title.
        </p>
    </ng-container>
</div>
<ng-container *ngIf="mainViewControllerService.displayMode === DisplayModesEnum.Results">
    <app-results-list [show]="currentShow"></app-results-list>
</ng-container>
<p *ngIf="mainViewControllerService.displayMode === DisplayModesEnum.Error">
    {{ mainViewControllerService.errorMsg }}
</p>