<form [formGroup]="showForm" (ngSubmit)="onSubmit()">
    <select #countrySelect name="country" id="country" formControlName="country" (change)="onChange(countrySelect.value)">
        <option value=""></option>
        <option *ngFor="let country of countriesService.getCountries()" [value]="country.countryCode">
            {{ country.name }}
        </option>
    </select>
    <input type="text" id="show-title" name="show-title" formControlName="title">
    <input type="submit" value="Search" routerLink="/home/shows">
</form>